/* Popup overlay */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Darker semi-transparent background */
    backdrop-filter: blur(15px); /* Apply blur effect to the background */
    z-index: 1000; /* Ensure this is on top of other elements */
}
.authform{
    display: flex;
    /* align-items: center; */
    background-color: whitesmoke;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.354);
    height: 70%;
}

.authform .left{
    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.authform .left img{
    width: 80%;
    object-fit: contain;
}

.authform .right{
    /* background-color: var(--col1); */
    width: 50%;
    height: 100%;
    border-left: 1px solid var(--col1);
    padding: 20px;
    overflow: scroll;
}

.authform .right h1{
    color: var(--col1);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0px;
}

.authform .right form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.authform p{
    margin: 10px 0px;
}

.authform .form_input_leftright{
    display: flex;
    gap: 10px;
}

.popup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    line-height: 0;
}

.popup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    line-height: 0;
}

.close {
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove border */
    color: #000; /* Set text color */
    font-size: 14px; /* Smaller font size */
    width: 30px; /* Set width */
    height: 30px; /* Set height */
    position: absolute; /* Position it absolutely within the popup */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 50%; /* Make it circular if desired */
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light background on hover */
}